/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 40px;
}


h2 {
    text-align: center;
    margin-bottom: 30px;
}

/* sevices Grid */
.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

/* card styling */
.card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow:  0 6px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    flex: 1;
}

.card-content h3 {
    margin: 0 0 10px;
    font-size: 18px;
}